
body {
    background-image: url("../images/ep_naturalblack.png");
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    
}

div {
    display: block;
}
h1 {
    text-align: center;
    /* padding: 20px; */
}
h5 {
    padding-bottom: 30px;
    text-align: center;
}

#projects {
    /* margin-top: 50px; */
}

#sidebar {

    /* width: 590px; */
    /* height: 500px; */
    /* padding: 10px; */
    /* background-color: white; */
    padding-right: 50px;
    text-align: center;
}

footer {
    color: aliceblue;
}
#info {

	/* width: 500px; */
	/* padding: 40px; */
    /* background-color: blue; */
    /* background-color:  #ffffff */
    /* height: 500px; */
}

footer {
    margin-top: 40px;
    text-align: center;
    background-color: rgb(240, 240, 240);
}
.wrapper {
    background-color: url("../i")
}
.jumbotron {
    background-image: url("./images/architecture-dark-evening-8779701.png"); 
    height: 230px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom-width: 2px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    color: aliceblue;   
    text-align: center;
    margin-bottom: 0px;
}
#projects{
    padding-top: 50px;
    text-align: center;

}
h6{
    padding: 20px;
}
.bg-light{
    padding-top: 50px;

}
img{
    padding-left: 20px;
    margin-left: 20px;
}
#bio-image {
    margin-left: 70px;
}